body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

circle {
  stroke: #4ea27d;
  stroke-width: 0px;
  stroke-opacity: 1;
}

.pulse {
  fill: #4ea27d;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}

.selected {
  background: #dfe8e3;
}

.ciccio {
  background: white !important;
  color: red !important;
}

.ant-progress-status-success .ant-progress-circle-path {
  stroke: #4ea27d !important;
}

.ant-progress-circle.ant-progress-status-success .ant-progress-text {
  color: #4ea27d !important;
}

.hilight {
  color: red;
}

.green {
  background: #a1e5ab;
}

.yellow {
  background: #e9d985;
}

.red {
  background: #d33f49;
}
