body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

circle {
  stroke: #4ea27d;
  stroke-width: 0px;
  stroke-opacity: 1;
}

.pulse {
  fill: #4ea27d;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}

.selected {
  background: #dfe8e3;
}

.ant-progress-status-success .ant-progress-circle-path {
  stroke: #4ea27d !important;
}

.ant-progress-circle.ant-progress-status-success .ant-progress-text {
  color: #4ea27d !important;
}

.hilight {
  font-weight: 700;
  color: red;
}

.table {
  font-size: 0.5rem;
  text-align: center;
}
table > .ant-table-thead > tr > th {
  text-align: center;
  font-size: 0.5rem;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  word-break: normal !important;
}

@media screen and (min-width: 576px) {
  .table {
    font-size: 0.9rem;
  }
  table > .ant-table-thead > tr > th {
    text-align: center;
    font-size: 0.85rem !important;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    word-break: normal !important;
  }
}

@media screen and (min-width: 768px) {
  .table {
    font-size: 0.9rem;
  }

  table > .ant-table-thead > tr > th {
    text-align: center;
    font-size: 0.85rem !important;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    word-break: normal !important;
  }
}

@media screen and (min-width: 1024px) {
  .table {
    font-size: 0.9rem;
  }

  table > .ant-table-thead > tr > th {
    text-align: center;
    font-size: 0.85rem !important;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    word-break: normal !important;
  }
}
